 /*這是手機版!!!*/
body {
    width:100%;
    height:100%;
    background-color:#ffd800;
}
/*版面調整開始*/
/*頁首*/
header{
    background-color:rgb(33,150,243);
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top:0px;
}
/*clearfix overflow:auto;!!*/
.header-wrapper{
    width:100%;
    overflow:auto;
}
.logo{
  float:left;
  margin-left:20%;
  margin-top: 10px;
}
.title{
    float:left;
    margin-top:36px;
    margin-left:5%;
}
/*叫出選單的按鈕*/
.nav-btn{
  position: absolute;
  bottom: -25px;
  left: 2%;
  z-index: 3;
}
/*選單內容*/
.nav-wrapper{
  visibility: hidden;
  top:0px;
  left: 0px;
  height: 100%;
  width:220px;
  position: absolute;
  z-index: 4;
}
/*選單頁首*/
.nav-header{
  height: 200px;
  width: 100%;
}
/*文章list/box切換按鈕*/
.config-wrapper{
  position: absolute;
  height: 5%;
  width: 10%;
  right: 5%;
  bottom: 0px;
  z-index: 3;
}
.content-wrapper{
  width: 100%;
  margin-top: 150px;
  position: relative;
  z-index: 1;
}
/*文章區塊*/
.article-wrapper{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:10%;  
  border: 1px solid;
  padding:10px;
  position: relative;
}
/*文章標題*/
.article-title {
 display: inline;
}
/*文章日期*/
.post-date {
  position: absolute;
  top:23px;
  right:15px;
}
/*分隔線*/
.split-bar{
  margin-top: 5px;
  margin-bottom: 5px;
}
/*內文*/
.article-content{
  padding-left: 20px;
  text-align: left;
}
/*read more按鈕*/
.btn-readmore{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}
footer{
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 2;
  background: rgb(130,210,160);
}
.copyright{
  width: 360px;
  margin:0 auto;
  padding-top: 1%;
}
/*文章區塊調整結束*/
/*版面調整結束*/

/*文字樣式調整開始*/
/*LOGO設定*/
.logo h1 {
    width:84px;
    height:100px;
    background-image:url('../images/LOGO_mobile.png');
    background-repeat:no-repeat;
    text-indent:-999px;
}
/*TITLE文字設定*/
.title h1::after{
    font-size:30px;
    color:rgb(255,255,255);
    content:"REMINDER"
}
/*調整文章標題文字*/
.article-title {
 display: inline;
 font-size: 32px;
}
/*調整文章日期文字*/
.post-date{
  font-size:18px;
  font-weight: bold;
}
/*調整文章內文文字*/
.article-content{
  font-size:22px;
  text-align: justify
}
/*調整reade me文字*/
.btn-readmore{
  font-size:28px;
}
/*文字樣式調整結束*/

/*外觀調整開始*/
/*選單按鈕*/
.nav-btn{
  display: block;
  width: 55px;
  height: 55px;
  background: rgb(230,74,25);
  border-radius: 100%;
}
.nav-btn:hover{
  cursor:pointer;
}
/*選單按鈕裡的三條線*/
.line{
  margin-top:25px;
  margin-left:14px;
  width: 50%;
  height: 5px;
  background: rgb(255,255,255);
}
.line::before{
  content:"";
  position: absolute;
  top: 15px;
  width: 50%;
  height: 5px;
  background: rgb(255,255,255);
}
.line::after{
  content:"";
 position: absolute;
  top: 35px;
  width: 50%;
  height: 5px;
  background: rgb(255,255,255);
}
/*文章排版選擇按鈕*/



/*個別樣式*/
/*陰影*/
.style-shadow{
  box-shadow: 1px 1px 5px rgb(66,66,66);
}
/*外觀調整結束