<!DOCTYPE html>
<html>
  <head>
    <!-- Facebook meta -->
<meta property="og:title"
content="{{ page.title }}" />
<meta property="og:site_name" content="Reminder Everthing"/>
<meta property="og:url"
content="http://a9261.github.io{{ page.url }}/index.html" />
<meta property="og:image" content="http://a9261.github.io/assets/themes/jaja/images/me.jpg"/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="article:author" content="Jaja" />
<meta property="article:publisher" content="Jaja" />
  <!-- End Facebook meta -->
  <!-- Link ICON -->
  <link rel="shortcut icon" href="favicon.ico">
      <link rel="apple-touch-icon" href="http://a9261.github.io/assets/themes/jaja/images/icons/blog_app_icon_57.png">
      <link rel="apple-touch-icon" sizes="72x72" href="http://a9261.github.io/assets/themes/jaja/images/icons/blog_app_icon_72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="http://a9261.github.io/assets/themes/jaja/images/icons/blog_app_icon_114.png">
 <!-- END -->
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/reset.css" rel="stylesheet" type="text/css" >
    <link href="{{ ASSET_PATH }}/css/mobile_layout.css" rel="stylesheet" type="text/css" media="screen and (max-width: 999px)">
    <link href="{{ ASSET_PATH }}/css/desktop_layout.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1000px)">
    <!--111 HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <link href="{{ ASSET_PATH }}/css/mini_animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-red.min.css" /> 
     <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!--navbar-->
    <div class="nav-wrapper shadow-z-2 ">
      <div class="nav-header" >
        <div class="me">
          <div class="me-author">JAJA</div>
          <div class="me-shadow"></div>
          <a href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/images/me.jpg" /></a>
        </div>
      </div>
      <nav class="navgation">
        <ul>
          <li class="archive"><i class="fa fa-clock-o fa-lg"></i><a href="/archive.html">RecenPost</a></li>
          <li class="categories"><i class="fa fa-th-large fa-lg"></i><a href="/categories.html">Category</a></li>
          <li class="tags"><i class="fa fa-tags fa-lg"></i><a href="/tags.html">Tags</a></li>
          <li class="about"><i class="fa fa-coffee fa-lg"></i><a href="/about.html">AboutMe</a></li>
        </ul>
      </nav>
      <input type="text" class="search-Bar">
      <div class="share-icons"></div>
    </div>
    <div class="clip">
    </div>
    <header class="shadow-z-1">
      <div class="header-wrapper">
        <div class="logo">
          <h1>
          Just A Reminder
          </h1>
        </div>
        <div class="title">
          <h1><a href="{{ HOME_PATH }}">REMINDER</a></h1>
        </div>
      </div>
      <!--navbar show/hide button-->
      <div class="nav-btn shadow-z-2 ">
          <div class="line"></div>
      </div>
      <!--layout list/box button-->
      <div class="config-wrapper">
        <div class="layout-list">
          <div class="list-point"></div>
        </div>
        <div class="layout-box">
          <div class="list-box"></div>
        </div>
      </div>
    </header>

    <!-- article content -->
<!--2015.05.31 不要用content-wrapper包起來     <div class="content-wrapper">
    </div> -->
      {{ content }}
    
    
    <footer>
      <div class="copyright">
        Copyright 2015 | All Rights Reserved. Designed by Jaja
      </div>
    </footer>
    {% include JB/analytics %}
    <script src="{{ ASSET_PATH }}/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/mainScript.js"></script>
  </body>
</html>