<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/reset.css" rel="stylesheet" type="text/css" >
    <link href="{{ ASSET_PATH }}/css/mobile_layout.css" rel="stylesheet" type="text/css" media="screen and (max-width: 999px)">
    <link href="{{ ASSET_PATH }}/css/desktop_layout.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1000px)">
    <!--0 HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
      <link href="{{ ASSET_PATH }}/css/mini_animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <!--navbar-->
    <div class="nav-wrapper style-shadow">
      <div class="nav-header">
         <div class="me">
             <div class="me-author">JAJA</div>
             <div class="me-shadow"></div>
             <a href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/images/me.png" /></a>
         </div>
      </div>
      <nav class="navgation">
        <ul>
          <li><i class="fa fa-clock-o fa-lg"></i><a href="/archive.html">RecenPost</a></li>
          <li><i class="fa fa-th-large fa-lg"></i><a href="/categories.html">Category</a></li>
          <li><i class="fa fa-tags fa-lg"></i><a href="/tags.html">Tags</a></li>
          <li><i class="fa fa-coffee fa-lg"></i><a href="/about.html">AboutMe</a></li>
        </ul>
      </nav>
      <input type="text" class="search-Bar">
      <div class="share-icons"></div>
    </div>
    <div class="clip">
    </div>
      <header class="style-shadow">
        <div class="header-wrapper">
          <div class="logo">
            <h1>
            Just A Reminder
            </h1>
          </div>
          <div class="title">
            <h1>REMINDER</h1>
          </div>
        </div>
        <!--navbar show/hide button-->
        <div class="nav-btn style-shadow">
          <div class="line"></div>
        </div>
        <!--layout list/box button-->
        <div class="config-wrapper">
          <div class="layout-list">
            <div class="list-point"></div>
          </div>
          <div class="layout-box">
            <div class="list-box"></div>
          </div>
        </div>
      </header>
      <!-- article content -->
      <div class="content-wrapper">
        {% for post in site.posts limit:10 %}
          <!-- Test article 01 -->
          <div class="article-wrapper style-shadow">
            <article class="article">
              <div class="article-header">
                <h2 class="article-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
              </div>
              <div class="split-bar"></div>
              <p class="article-content">{% if post.content contains "<!-- more -->" %}
                          {{ post.content | split:"<!-- more -->" | first % }}
                          {% else %}
                          {{ post.content | strip_html | truncatewords:100 }}
                          {% endif %}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}" class="btn-readmore">READ</a>
            </article>
            <div class="yy"><time>{{ post.date | date: '%Y'}}</time></div>
            <div class="mm"><time>{{ post.date | date: '%m' }}</time></div>
            <div class="dd"><time>{{ post.date | date: '%d' }}</time></div>
          </div>
        {% endfor %}
      </div>
      
      <footer>
        <div class="copyright">
          Copyright 2014 | All Rights Reserved. Designed by Jaja
        </div>
      </footer>
    
      <script src="{{ ASSET_PATH }}/js/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="{{ ASSET_PATH }}/js/mainScript.js"></script>
    <script>
    $(function () {
        $('.nav-btn').click(function () {
            //$('.nav-wrapper').removeClass('animated slideOutLeft');
            $('.nav-wrapper').addClass('animated slideInLeft');
            $('.clip').css('width', '100%');
            $('.clip').css('height', '100%');
        });
        $('.clip').click(function () {

            $('.nav-wrapper').addClass('slideOutLeft');
            $('.nav-wrapper').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $('.nav-wrapper').removeClass('animated slideInLeft slideOutLeft');
            });
      
            $('.clip').css('width', '0%');
            $('.clip').css('height', '0%');
        });
    //$('.nav-wrapper').on('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
    //    $('.nav-wrapper').removeClass('animated slideInLeft');
    //});
    });
    </script>
  </body>
</html>