<div class="content">
    <h1>
        {{ page.title }} {% if page.tagline %}
        <small>{{page.tagline}}</small>{% endif %}
    </h1>
    <div class="date">
        <span>{{ page.date | date: "%Y-%m-%d" }}</span>
    </div>
    <div class="text-content">
        {{ content }}
    </div>
    {% unless page.categories == empty %}
    <ul class="categories_box">
        <li><i class="glyphicon-open"></i></li>
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
    </ul>
    {% endunless %}
    {% unless page.tags == empty %}
    <ul class="tag_box">
        <li><i class="glyphicon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
    </ul>
    {% endunless %}
    <div class="split-bar"></div>
    <div class="social-share">

        <a class="social-share-element" id="social-facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" target="_blank" title="Share this post on Facebook"><i class="fa fa-facebook-official fa-2x"></i>
        </a>

        <a class="social-share-element" id="social-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}" target="_blank" title="Share this post on Twitter"><i class="fa fa-twitter-square fa-2x"></i>
        </a>

        <a class="social-share-element" id="social-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share this post on Google Plus"><i class="fa fa-google-plus-square fa-2x"></i>
        </a>

        <a class="social-share-element" id="social-facebook" href="http://www.reddit.com/submit?url={{ url }}&title={{ page.title }}&u=" target="_blank" title="Share this post on Reddit"><i class="fa fa-reddit-square fa-2x"></i>
        </a>

        <a class="social-share-element" id="social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}" target="_blank" title="Share this post on LinkedIn "><i class="fa fa-linkedin-square fa-2x"></i>
        </a>

        <a class="social-share-element" id="social-weibo" href="http://v.t.sina.com.cn/share/share.php?title=來看看Jaja的博文吧：{{ page.title }}&url={{ url }}" target="_blank" title="Share this post on Sina Weibo"><i class="fa fa-weibo fa-2x"></i>
        </a>
<br>
文章轉載，煩請附上出處噢:)
    </div>
    <ul class="pagination">
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
        {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}"><i class="fa fa-book fa-2x"></i></a></li>
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
        {% else %}
        <li class="next disabled">
            <a>Next &rarr;</a>
            {% endif %}
    </ul>
    {% include JB/comments %}
    {% include JB/analytics %}
</div>
